<mat-card>
  <mat-card-title>
          Howgarts School - Personajes
  </mat-card-title>  
  <mat-card-content>
      <div class="mat-elevation-z1" >
        <mat-form-field appearance="fill">
          <mat-label>Houses</mat-label>
          <mat-select [formControl]="houses" (ngModelChange)="onChangeofOptions($event)">
            <mat-option *ngFor="let house of housesList" [value]="house">{{house}}</mat-option>
          </mat-select>
        </mat-form-field>
        <app-grid [dataService]="dataSource"></app-grid>
      </div>
  </mat-card-content>
</mat-card>
	                
